.block{
   background-image: url(bg5.jpg);
   height: 1200px;
}
.flex{
    display: flex;  
}
.text p{
    color: #ffffff;
    color: -webkit-link;
    margin: 0;
    padding-bottom: 11px;
    padding-left: 235px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.whitetext{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    font-size: 10px;
}
.whitetext a{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}
.box{
    width: 414px;
    height: 34px;
    background: black;
    margin-left: 200px;
    font-size: 10px;
}
.img{
    padding-bottom: 11px;
    padding-left: 235px; 
}
.images{
    margin-top: 20px;
    margin-left: 230px;
}
button{
    background: blue;
    width: 120px;
    height: 50px;
    color: #efcf3a;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #00499c;
    padding: 5px;
    border: 1px solid #666;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}
.center{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.thor{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.information{
    background-image: url(black.png);
    width: 1000px;
    height: 453px;
    margin-left: auto;
    margin-right: auto;
}
.quations{
    margin: 0 auto;
    width: 400px;
    display: flex;
  
}
.quations img{
    width: 32px;
    height: 32px;
}
.quations h2{
    margin: 0;
    color: white;
}
.look{
    color: #e3d157;
}
.news{
    color: #0de0ff;
}
.information p{
    color: white;
}